@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffcc;
  color: #171717;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a:hover {
  cursor: pointer;
}
button {
  cursor: pointer;
}

.bg-offwhite {
  background-color: #faf9f6;
}
.border-offwhite {
  border-color: #faf9f6;
}
.text-offwhite {
  color: #faf9f6;
}

.border-brown {
  border-color: #af4c0f;
}
.bg-brown {
  background: #af4c0f;
}
.text-brown {
  color: #af4c0f;
}

.family-roboto {
  font-family: 'Roboto', sans-serif;
}
.family-roboto-semibold {
  font-family: 'Roboto', sans-serif;
}

.text-khaki {
  color: #ffffcc;
}
.bg-khaki {
  background: #ffffcc;
}
.border-khaki {
  border-color: #ffffcc;
}

.text-sageGreen {
  color: #4E7241;
}
.bg-sageGreen {
  background: #4E7241;
}
.border-sageGreen {
  border-color: #4E7241;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
